@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: 'Rubik';
    font-weight: 400;
    color:#FFFFFF;
    border: 2px solid #d6d6d6;
    width: 387px;
    height: 72px;
    border-radius: 15px;
}
.checkbox{
    margin-left: 14px;
    height: 20px;
    width: 20px;
    accent-color: #dfbd43;
}
.delete_but{
    margin-left: 25px;
}
.change_but{
    margin-left: 180px;
}
.name{
    font-size: 13px;
    padding-bottom: 16px;
}
.desc{
    font-size: 16px;
}
.text_block{
    text-align: left;
    margin-left: 10px;
}