@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.but_main {
    background-color: #dfbd43;
    width: 367px;
    height: 74px;
    margin-top: 143px;
    border: 2px solid #d6d6d6;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
}