@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.all{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}
.form{
    background-color: black;
    text-align: center;
    height: 473px;
    width: 428px;
    border-radius: 25px;
    border: 2px solid #d6d6d6;

    position:absolute; 
    z-index: 99;
    top: 30%; 
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.nameForm{
    text-transform: uppercase;
    font-family: 'Rubik';
    color: #FFFFFF;
    font-size: 16px;
    margin: 40px auto;

}